<!-- View -->
<input [(ngModel)]="uname" placeholder="请输入用户名" (ngModelChange)="changeHandler()">

<!-- Angular专业事件:"模型数据改变" -->

<!-- <p>当前的用户输入: {{uname}} </p> -->
<hr>
<div appNeedEm>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia tempore odit neque dicta iste distinctio cum quas
    maxime perferendis esse aperiam facere explicabo optio minima ea pariatur, inventore nesciunt ad?
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia tempore odit neque dicta iste distinctio cum quas
    maxime perferendis esse aperiam facere explicabo optio minima ea pariatur, inventore nesciunt ad?
</div>
<div appNeedEm>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia tempore odit neque dicta iste distinctio cum quas
    maxime perferendis esse aperiam facere explicabo optio minima ea pariatur, inventore nesciunt ad?
</div>
