<!-- 父组件 -->
<div #c0>
    <h2> {{userName}}的博客</h2>
    <hr>
    <!-- 使用第一个子组件 -->
    <!-- 这里的$event 不是指事件本身，而是事件携带的数据 -->
    <!-- 原生的事件$event值的是事件对象，自定义事件是事件发射的数据 -->
    <app-blog-child-modify #c1 (changeEvent)="changeHandler($event)"></app-blog-child-modify>
    <br>
    <!-- 使用第二个子组件 -->
    <!-- 父组件直接使用子组件对象的引用 -->
    <app-blog-child-photo #c2 [ownerName]="userName"></app-blog-child-photo>
    <hr>
    <button (click)="printHash()">输出内部有识别符的子组件</button>


    <app-blog-child-photo *ngFor="let name of names" [name]="name" [ownerName]="userName"></app-blog-child-photo>

    <h2>Source code version</h2>
    <button type="button" (click)="newMinor()">New minor version</button>
    <button type="button" (click)="newMajor()">New major version</button>
    <app-version-child [major]="major" [minor]="minor"></app-version-child>

    <hr>
    <h2>Should mankind colonize the Universe?</h2>
    <h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
    <app-voter *ngFor="let voter of voters" [name]="voter" (voted)="onVoted($event)"></app-voter>
    <hr>
    <!-- <h3>Countdown to Liftoff (via local variable)</h3>
    <button type="button" (click)="timer.start()">Start</button>
    <button type="button" (click)="timer.stop()">Stop</button>
    <div class="seconds">{{timer.seconds}}</div>
    <app-countdown-timer #timer></app-countdown-timer> -->
    <h3>Countdown to Liftoff (via ViewChild)</h3>
    <button type="button" (click)="start()">Start</button>
    <button type="button" (click)="stop()">Stop</button>
    <div class="seconds">{{ seconds() }}</div>
    <app-countdown-timer></app-countdown-timer>
</div>