<h1>My Angluar Project</h1>
<hr>
<!-- <myC01></myC01> -->

<!-- React中标签体内容能作为标签的属性传递 -->
<!-- Angular中未知，该实现仍待解决... -->
<!-- <app-myc02>
    <app-myC03></app-myC03>
</app-myc02> -->
<!-- <app-myC03></app-myC03> -->

<!-- <app-myc05></app-myc05> -->

<!-- <app-test></app-test> -->

<!-- <app-myc01-counter></app-myc01-counter> -->
<!-- <app-myc02-ngfor></app-myc02-ngfor> -->
<!-- <app-myc03-ngif></app-myc03-ngif> -->
<!-- <app-myc04-ngifelse></app-myc04-ngifelse> -->
<!-- <app-myc05-ngif></app-myc05-ngif> -->
<!-- <app-myc06-style></app-myc06-style> -->
<!-- <app-myc07-switch></app-myc07-switch> -->
<!-- <app-myc08-ng-model></app-myc08-ng-model> -->

<!-- <app-dep-inj></app-dep-inj> -->
<!-- <app-http-client></app-http-client> -->
<!-- <app-user></app-user> -->
<!-- <app-product-list></app-product-list> -->

<!-- <app-blog-parent></app-blog-parent> -->
<!-- <app-mission-control></app-mission-control> -->

<h2>route test</h2>
<hr>
<router-outlet></router-outlet>


<!-- <app-reactive-forms></app-reactive-forms> -->